<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<body>
<h2>User Info</h2>
<br>
<form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <table>
        <tr>
            <td>Select Role:</td>
            <td>
                <select th:field="*{roles}">
                    <option th:each="role : ${allRoles}"
                            th:value="${role.id}"
                            th:utext="${role.name}"/>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add User">
</form>
<br/>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>


</html>