<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>All Users</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Username</th>
        <th scope="col">Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">

        <td th:text="${user.getName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getUsername()}"/>
        <td><a th:each="role : ${user.roles}">
            <a th:text="${role.name}">Roles</a>
        </a></td>

        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id = ${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id = ${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<form th:method="GET" th:action="@{/admin/addNewUser}">
    <input type="submit" value="Add new user">
</form>
<br/>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>